<div class="panel div-box box">
  <h6>
    <%= link_to item[:from_name], "http://facebook.com/" + item[:from_id], target: "_blank" %>
  </h6>

  <span style="display:block;">
    <% if item[:message].present? %>
      <%= item[:message] %>
    <% else %>
      <%= item[:name] %>
    <% end %>
  </span>

  <br/>
  <ul class="link-list">
    <li>
      <strong><div class="item-updated-time" title="<%= item[:updated_time] %>">
          <%= item[:updated_time] %>
        </div>
      </strong>
    </li>
    <li>
      <%= link_to "Check on facebook", "http://facebook.com/" + item[:id], target: "_blank" %>
    </li>
  </ul>
</div>
