<div>
  <div id="search_header" class="content content-list">
      <%= form_tag(url: search_url) do %>
        <div id="select_button_search" class="six columns">
          <%= select_tag(:group, options_for_select(groups_to_select_from), class: "chosen-select", prompt: "Grupo..." ) %>
          <br/>
          <br/>
          <%= select_tag(:posts_cant, options_for_select(posts_amount), class: "chosen-select", prompt: "Cantidad de posts...") %> 
        </div>
        <br/>

        <div id="search_button_container" class="two columns">
          <div id="search_button_div">
            <%= submit_tag "Buscar!", id: "search_button", class: "button button-blue" %>
          </div>
          <div id="loading">
            <img src="/images/roller.gif" />
          </div>
        </div>
        <br/>
        <div id="search_box" class="four columns">
          <input id="search_input" type="text" placeholder="vendo, alquilo, preparo en ..." style="width:300px">
          <!-- <span id="num_results"></span> posts encontrados -->
        </div>
      <% end %>
  </div>
</div>

<div id="ajax_results">
  <div id="posts_results">
    <div class="content content-list">
      <% if posts.any? %>
        <%= image_tag posts["icon"] %>
        <%= link_to posts["name"], "http://facebook.com/" + posts["id"], :target => '_blank' %>
        <div id="search_list" class="list">
          <% posts.each do |item| %>
            <!-- 1er item item[0] es el ID, 2do item item[1] es el feed -->
            <% if item[1]["data"] %>
              <% item[1]["data"].each do |m| %>
                  <div class="panel div-box box">
                    <h6>
                      <%= link_to m["from"]["name"], "http://facebook.com/" + m["from"]["id"], :target => '_blank' %>
                    </h6>
                    <% if m["message"] %>
                      <span style="display:block;"><%= m["message"] %></span>
                    <% else %>
                      <span style="display:block;"><%= m["name"] %></span>
                    <% end %>
                    <br/>
                    <ul class="link-list">
                      <li>
                        <strong><div class="item-updated-time" title="<%= m["updated_time"] %>">
                            <%= m["updated_time"] %>
                          </div>
                        </strong>
                      </li>
                      <li>
                        <%= link_to "Ver en Facebook", "http://facebook.com/" + m["id"], :target => '_blank' %>
                      </li>
                    </ul>
                  </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script type="text/javascript">
  var config = {
    '.chosen-select'           : {},
    '.chosen-select-deselect'  : {allow_single_deselect:true},
    '.chosen-select-no-single' : {disable_search_threshold:10},
    '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
    '.chosen-select-width'     : {width:"95%"}
  }
  for (var selector in config) {
    $(selector).chosen(config[selector]);
  }
</script>
