<!DOCTYPE html>
<html>
<head>
  <title>Find my post!</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=250798808383711";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body>

<div class="row">
  <div class="one column" id="profile_image">
    <% if @fbprofile %>
      <%= link_to(image_tag(@fbp_image, :size => "56x56"), @fbprofile["link"], :title => @fbprofile["name"], :rel => 'tooltip', :target => '_blank')%><br />
    <% end %>
  </div>
  <div id="title_logo" class="nine columns">
    <div>
      <br/>
      <a href="/"><img src="/images/logo.jpg" /></a>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
