<!DOCTYPE html>
<html>
<head>
  <title>Encuentra mi post!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=250798808383711";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

</head>
<body>
<!-- ClickTale Top part, visits tracking -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="row">
  <div class="one column" id="profile_image">
    <% if @fbprofile %>
      <%= link_to(image_tag(@fbp_image, :size => "56x56"), @fbprofile["link"], :title => @fbprofile["name"], :rel => 'tooltip', :target => '_blank')%><br />
    <% end %>
  </div>
	<div class="nine columns">
			<div id="title_logo">
				<br/>
				<a href="/"><img src="/images/title.png" /></a>
			</div>
	</div>
	<div id ="face_button_like" class="two columns">
		<div class="fb-like" data-href="http://www.facebook.com/encuentramipost" data-send="true" data-layout="box_count" data-width="450" data-show-faces="false" data-font="lucida grande">
		</div>
	</div>
</div>

<%= yield %>


<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(17010,0.5,"www14");
</script>
<!-- ClickTale end of Bottom part -->

</body>
</html>
